extends /layouts/application.pug

block content
  h3 Edit Task
  +formFor(f, { url: urlFor('task', task.id), method: 'patch' })
    +input(f, 'name', { labelName: 'Name' })
    +textarea(f, 'description', { labelName: 'Description' })
    +select(f, 'assignedTo', users, { labelName: 'Assign to' })
    +select(f, 'status', statuses, { labelName: 'Task status' })
    +input(f, 'tags', { labelName: 'Tags' })
    +button(f)