extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('task', task.id), method: 'patch' })
    +input(f, 'name', { labelName: 'Name' })
    +input(f, 'description', { labelName: 'Description' })
    +select(f, 'assignedTo', users, { labelName: 'Assign to' })
    +select(f, 'status', statuses, { labelName: 'Task status' })
    +checkbox(f, 'tags', tags, { labelName: 'Tags' })
    +input(f, 'newTags', { labelName: 'New tag' })
    +button(f)
