extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('tasks'), method: 'post' })
    +input(f, 'name', { labelName: 'Name' })
    +input(f, 'description', { labelName: 'Description' })
    +select(f, 'assignedTo', users, { labelName: 'Assign to' })
    +button(f)
