extends /layouts/application.pug

block content
  h3 New Task
  +formFor(f, { url: urlFor('tasks'), method: 'post' })
    +input(f, 'name', { labelName: 'Name' })
    +textarea(f, 'description', { labelName: 'Description' })
    +select(f, 'assignedTo', users, { labelName: 'Assign to' })
    +checkbox(f, 'tags', tags, { labelName: 'Tags' })
    +input(f, 'newTags', { labelName: 'New tag' })
    +button(f)
