extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('tag', tag.id), method: 'patch' })
    +input(f, 'name', { labelName: 'Name' })
    +button(f)

  a.btn.btn-outline-danger(href=urlFor('tag', tag.id) data-method='delete' rel='nofollow') Delete