extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('tag', tag.id), method: 'patch' })
    +input(f, 'name', { labelName: 'Name' })
    +button(f)

  +formFor(f, { url: urlFor('tag', tag.id), method: 'delete', dataConfirm: 'Are you sure you want to delete tag?' })
    input.btn.btn-outline-danger(type='submit' value='Delete')
