extends /layouts/application.pug

block content
  h3.mb-2 Tags
  each tag in tags
    .row
      form.form-inline(action=urlFor('tag', tag.id) method='post')
        input(name='_method' type='hidden' value= 'patch')
        input.form-control.mr-2(name='form[name]' type='text' value= tag.name)
        a.btn.btn-outline-primary.my-2.mr-2(href=urlFor('tag', tag.id)) View
        if isSignedIn()
          button.btn.btn-outline-warning.my-2.mr-2(type='submit')
            | Save
      if isSignedIn()
        +formFor(f, { url: urlFor('tag', tag.id), method: 'delete', dataConfirm: 'Are you sure you want to delete tag?' })
          input.btn.btn-outline-danger.my-2(type='submit' value='Delete')
