extends /layouts/application.pug

block content
  h3 Edit Profile
  +formFor(f, { url: urlFor('editUser'), method: 'patch' })
    +input(f, 'firstName', { labelName: 'First name' })
    +input(f, 'lastName', { labelName: 'Last name' })
    +button(f)
  .row
    a.btn.btn-outline-warning.my-2.mr-2(href=urlFor('resetPswdUser')) Reset Password
    a.btn.btn-outline-danger.my-2(href=urlFor('deleteUser')) Delete Profile
