extends /layouts/application.pug

block content
  h3 Change Password
  +formFor(f, { url: urlFor('resetPswdUser'), method: 'patch' })
    +input(f, 'oldPass', { as: 'password', labelName: 'Please, enter the initial password' })
    +input(f, 'newPass', { as: 'password', labelName: 'Please, enter a new password' })
    +button(f, { value: 'Change', decoration: 'warning' })
