extends /layouts/application.pug

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.display-3 Welcome!
      p.lead This is the online demo for users to test app and its features. All the data here is temporary and may be reset at any time.
