extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('resetPswdUser'), query: '?_method=put' , method: 'post' })
    +input(f, 'oldPass', { as: 'password' })
    +input(f, 'newPass', { as: 'password' })
    +button(f)
