extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('resetPswdUser'), method: 'patch' })
    +input(f, 'oldPass', { as: 'password', labelName: 'Please, enter the initial password' })
    +input(f, 'newPass', { as: 'password', labelName: 'Please, enter a new password' })
    +button(f)
