extends /layouts/application.pug

block content
  legend User Info
  table.table.table-stripped
    thead
      tr
        th Full Name
        th Email
    tbody
      tr
        td= user.fullName
        td= user.email

  legend Assigned tasks
  +tasksLayout(assignedTasks)

  legend Created tasks
  +tasksLayout(createdTasks)
